<%- include('../includes/head.ejs',{pageTitle:'Log In'}) %>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>
            <main class="mt-7 flex w-1/3 text-center h-auto mx-auto bg-slate-200 p-5 flex-col rounded-2xl">
                <h1 class="mb-7 font-semibold text-xl text-slate-800">Login</h1>
                <form action="/signup" method="POST">
                    <p class="inline">
                        <label class="block" for="email">E-Mail</label>
                        <input class="input-form" type="email" id="email" name="email" required>
                    </p>
                    <p>
                        <label class="block" for="password">Password</label>
                        <input class="input-form" type="password" id="password" minlength="6" required>
                    </p>
                    <button
                        class="m-7 rounded-3xl bg-gray-400 w-40 hover:bg-gray-200 hover:outline hover:outline-2 p-2 font-medium ">Login</button>
                    <p id="switchform" class="mb-3">
                        <a class="rounded-3xl font-medium bg-gray-300 hover:bg-gray-200 hover:outline hover:outline-2 p-3"
                            href="/signup">Signup Instead
                        </a>
                    </p>
                </form>
            </main>


            <%- include("../includes/footer.ejs") %>